<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/layui/css/login.css">
    <link rel="icon" href="/favicon.ico">
    <title>Login</title>
</head>

<body class="login-wrap">
    <div class="login-container">
        <form class="login-form">
            <div class="input-group">
                <input type="text" id="username" class="input-field" autocomplete="off">
                <label for="username" class="input-label">
                    <span class="label-title">用户名</span>
                </label>
            </div>
            <div class="input-group">
                <input type="password" id="password" class="input-field" autocomplete="off">
                <label for="password" class="input-label">
                    <span class="label-title">密码</span>
                </label>
            </div>
            <div class="input-group" style="display: flex; padding-right: 0;">
                {eq name="mVerifyType" value="1"}
                <input type="text" id="code" class="input-field" style="flex:1" autocomplete="off">
                <label for="code" class="input-label">
                    <span class="label-title">安全码</span>
                </label>
                {else/}
                <input type="text" id="code" class="input-field" style="flex:1" autocomplete="off">
                <label for="code" class="input-label">
                    <span class="label-title">验证码</span>
                </label>
                <image src="{:captcha_src()}" onclick="this.src=this.src+'?'+Math.random()" id="captcha" style="width:145px;z-index:999;"></image>
                {/eq}
            </div>
            <button type="button" id="btn_submit" onclick="login();return false;" class="login-button">登录<i class="ai ai-enter"></i></button>
        </form>
    </div>
</body>

<script src="/static/layui/layui.js"></script>
<script src="/static/layui/js/jquery-3.3.1.min.js"></script>
<script src="/static/layui/js/index.js" data-main="login"></script>
<script>
    layui.use('layer', function () {
        var layer = layui.layer;
    });

    document.onkeydown = function (e) {
        if (!e) e = window.event;
        if ((e.keyCode || e.which) === 13) {
            document.getElementById("btn_submit").click();
        }
    };

    function login() {
        $.ajax({
            url: '/admin/login/check',
            method: 'post',
            data: { user_name: $('#username').val(), password: $('#password').val(), code: $('#code').val() },
            dataType: 'JSON',
            success: function (res) {
                if (res.code === 0) {
                    window.location.href = "/admin/main";
                } else {
                    layer.msg(res.msg);
                    $("#captcha").click();
                }
            },
            error: function (data) {
                layer.msg('联系管理员检查错误');
                console.log(data);
            }
        });
    }
</script>

</html>